@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
  background-image: url("../images/background2.jpg");
}

.div_top{
  text-align:center;
  font-size: 22px;
  margin-left: -20px;
  margin-top: -60px;
  font-family: 'Courgette', cursive;
}
.div_top img{
  transform:rotate(20deg);
}

div.search{
  text-align: center;
  margin-left: -30px;
}

input.search_txt{
  border: none;
  width: 250px;
  border-bottom: 2px solid ;
  margin-right: 10px;
  font-family:TmoneyRoundWindExtraBold;
  padding: 5px;
  color:#A4A4A4;
}
.search_btn {
   background: url( "../images/search.png" );
   cursor: pointer;
}
#banner{
  text-align: center;
  margin-left: -30px;
}
img.banner{
  border-radius: 10px;
}
div.menu {
    font-family: 'Courgette', cursive;
    width: 100%;
    height: 35px;
    text-align: center;
    color: white;
}
div.menu ul{
  width:800px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  background-color: black;
  border-radius: 10px;
}
li.menu_btn{
  float: left;
  background-color: black;
  text-align: center;
  padding: 5px;
  display: block;
  color: white;
  word-spacing: 20px;
}
a{
  text-decoration: none;
  color: white;
}
.banner_img{
  margin-left:26%;
}

.div_top{
  position: relative;
  top: 50px;
  font-family: 'Courgette', cursive;
}
.menu{
  position: relative;
  top: 70px;
  width: 1300px;
}
.body_div{
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -420px;
  margin-top: -150px;
  width: 55%;
  height: 600px;
  border-radius: 10px;
}
#register_btn{
  float:right;
  margin: 20px;
  background-color: black;
  color: white;
  font-family: 'TmoneyRoundWindRegular';
  border-radius: 10px;
}

.center{
  font-family: 'TmoneyRoundWindRegular';
  width: 700px;
  height: 550px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-280px;
  margin-left:-300px;
}
.postTable{
  margin-left: 100px;
  margin-top:100px;
  width:630px;
  table-layout: fixed;
}
.postTable th{
  background-color: lightgray;
  border-spacing: 40px;
  border-collapse: collapse;
}
.postTable td{
  overflow:hidden;
	white-space : nowrap;
	text-overflow: ellipsis;

}
tr:hover{
  background-color: lightgray;
}
